.image-gallery-slide {
  opacity: 0;
  transition: opacity 450ms ease-out !important;
}
.image-gallery-slide.center {
  opacity: 1;
}

@keyframes blinker {
  from { opacity: 1; }
  to { opacity: .3; }
}
@keyframes spinner-rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.image-gallery-slide.center {
  animation: spinner-rotate .4s cubic-bezier(.5, 0, 1, 1), blinker .4s cubic-bezier(.5, 0, 1, 1);
}